name: Check code

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'site/**'
      - '*.md'

jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: "1.21"

      - uses: actions/checkout@v3

      - name: Setup linter
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.55.2

      - name: Lint
        run: make lint
